*
!/*.h
!/*.cpp
nncg_plugin_import.cpp
!/*.pro
!/*.qrc
!/.gitignore
!/template_example.txt
!/values_example.csv
!/README.md
!/ca.png
!/mt.png
!/mth.png
!/mtp.png
!/rtr.png
!/tm.png
!/tmh.png
!/tmp.png
!/screenshot.png
